<!-- Jumbotron -->
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4">
        <img src="https://southcarolina.teachersoftomorrow.org/media-sc/Computer-Icon.png">        
      </div>
      <div class="col-md-8">
        <h1>Computer Solutions</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, repellendus?</p>
      </div>
    </div>
  </div>

<!-- Example row of columns -->
  <div class="row">
    <div ng-repeat="service in services">
      <div class="col-md-4">
        <h2>{{service.name}}</h2>
        <p>{{service.description}}</p>
      </div>
    </div>
  </div>

    





<!-- 
<div class="row">
  <div ng-repeat="service in services">
    <div class="col-lg-4">
      <h2>{{service.name}}</h2>
      <p>{{service.description}} </p>
    </div>
  </div>
</div>
-->